html 
  head 
    title Upload Photos
    style
        include ../static/style.css
  body 
    h1  Upload Your 10 Photos
    div.form
      form(action="/upload" method='POST', enctype='multipart/form-data')
        input(type='text', name='Name' placeholder='Enter your name')
        input(type='text', name='Enrollment' placeholder='Enter your enrollment number')
        input(type='file', name='imageupload')
        button(type='submit') Upload Image